In [9]:
print(56)

56

# 第一章
## 1-1 pyhton開始

# Python第一堂課
## 輸出

## Python變數類型

1. 整數 (int) int
2. 浮點數 (float) float
3. 字串 (string) str
4. 布林 (boolean) bool

In [16]:
age = 12
print(age)

12
2.71828
午安
吃飽沒

In [17]:
e = 2.71828
print(e)

2.71828

In [19]:
msg1 = "午安"
print(msg1)
msg2 = '吃飽沒'
print(msg2)

午安
吃飽沒

In [15]:
isOpen = True
print(isOpen)
isOpen = False
print(isOpen)

True
False

In [20]:
type(age)

int

In [23]:
type(e)

float

In [24]:
type(msg1)

str

In [25]:
type(isOpen)

bool

In [28]:
var1 = 100
print(type(var1))
var1 = 3.1415
print(type(var1))
var1 = "Hello"
print(type(var1))

<class 'int'>
<class 'float'>
<class 'str'>

100
2

In [7]:
var1 = 100
print(var1)
var2 = 2
print(var2)
ans1 = var1 + var2
print(var1,"+",var2,"=",ans1)
print(ans1)
ans2 = var1 * var2
print(ans2)
print(var1,"*",var2,"=",ans2)
ans3 = var1 - var2
print(ans3)
var1 = 5
var2 = 2
ans4 = var1 / var2
print(var1,"/",var2,"=",ans4)
print(ans4)
ans5 = var1 // var2

print(ans5)

ans6 = var1 % var2
print(ans6)

100
2
100 + 2 = 102
102
200
100 * 2 = 200
98
5 / 2 = 2.5
2.5
2
1

In [36]:
v1 = 1
v2 = 10
v3 = 25
print(v1,v2,v3)

1 10 25

In [9]:
a1,b2,c3 = 10,18.5,"Hello"
print(a1,b2,c3)

10 18.5 Hello

## 交換

In [12]:
a,b = 50,76
print(a,b)
temp = a
a = b
b = temp
print(a,b)

50 76
76 50

In [15]:
a,b = 50,76
print(a,b)
a,b = b,a 
print(a,b)

50 76
76 50

## 可利用str()轉字串

In [19]:
year = 18
#可用+將自串串接
msg = "年齡"+"18"
print(msg)

msg2 = "年齡"+str(year)

年齡18

# del 移除變數

In [25]:
x=y=z=20
print(x,y,z)
del y
print(x,y,z)

20 20 20

NameError: name 'y' is not defined